// Global settings
cleanup = true

// Parameters
params {
	// Resource files
	chr_add = '/mnt/data/samples/chr_add.txt'
	refdir = '/mnt/data/resources/reference/ucsc/'
    reference = "${refdir}/hg19_canonical.fa.gz"
	reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'

	// VCF Configuration
	vep_cmd = 'apptainer exec -B /mnt/data:/mnt/data /mnt/data/apps/ensembl-vep/113/vep.sif vcf'
	vep_cmd_version = '113.0'
	vep_cache = '/mnt/data/apps/ensembl-vep/113/cachedir/'

	// VCF Performance Settings
	vep_max_chr_parallel = 4
	vep_max_forks = 4
	vep_buffer = 500000

	// bcftools
	bcftools_cmd = 'bcftools'
	bcftools_cmd_version = '1.20'

	// Workflow control do not change
	db_mode = null
	db_bcf = null
}

// Process configuration
process {
	executor = 'local'
    cpus = 32
    memory = '62 GB'

	withName: 'RenameAndNormalizeVCF' {
		memory = '20 GB'
	}

    scratch = '/mnt/data/tmp'
}
