cleanup = true
workDir = '/tmp/nextflow_tmp'

log {
    enabled = true
    file = params.output ? "${params.output}/.nextflow.log" : "${launchDir}/.nextflow.log"
}

trace {
    enabled = true
    file = "${params.output}/trace.txt"
}

report {
    enabled = true
    file = "${params.output}/report.html"
}

dag {
    enabled = true
    file = "${params.output}/dag.html"
}

process {
    executor = 'local'
    cpus = 30
    memory = '60 GB'
    scratch = true

    withName: 'RenameAndNormalizeVCF' {
        memory = '20 GB'
    }

    withName: 'VEPAnnotate' {
        memory = '20 GB'
    }

    withName: 'EchtvarAnnotateChr' {
        memory = '50 GB'
    }
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

dag {
    overwrite = true
}

singularity {
    enabled = true
    autoMounts = true
}

profiles {
    test {
        process {
            cpus = 4
            memory = '8 GB'
            scratch = true

            withName: 'RenameAndNormalizeVCF' {
                memory = '4 GB'
            }

            withName: 'VEPAnnotate' {
                memory = '6 GB'
            }

            withName: 'EchtvarAnnotateChr' {
                memory = '8 GB'
            }
        }

        params {
            chr_add = 'tests/data/chr_add.txt'
            reference = 'tests/data/reference.fa'
            vep_cache = 'tests/data/vep_cache'
        }

        singularity {
            enabled = false
        }
    }
}