// Global settings
cleanup = true

// Parameters
params {
	// Resource files
	chr_add = ''
	reference = ''
	reference_md5sum = ''
    db_bcf = null

	// ECHTVAR paths
	echtvar_cmd = 'echtvar'
	echtvar_cmd_version = ''
	echtvar_gnomad_genome = ''
	echtvar_gnomad_genome_md5sum= ''
	echtvar_gnomad_exome = ''
	echtvar_gnomad_exome_md5sum = ''
	echtvar_clinvar = ''
	echtvar_clinvar_md5sum = ''

	// VEP Configuration
	vep_cmd = 'vep'
	vep_cmd_version = ''
	vep_cache = '

	// VEP Performance Settings
	vep_max_chr_parallel = 1
	vep_max_forks = 1
	vep_buffer = 500000

	// Sorting memory
	bcftools_sort_memory = '4G'

	// Workflow control
    db_mode = null
}

// Process configuration
process {

}
