// Top of the file
cleanup = true
workDir = '/tmp/nextflow_tmp' // '/mnt/data/samples/ephemeral/nextflow_tmp'

// Log settings
log {
    enabled = true
    file = params.output ? "${params.output}/.nextflow.log" : "${launchDir}/.nextflow.log"
}

// Add these settings
trace {
    enabled = true
    file = "${params.output}/trace.txt"
}

report {
    enabled = true
    file = "${params.output}/report.html"
}

dag {
    enabled = true
    file = "${params.output}/dag.html"
}

// Before profiles section, add cleanup configuration
cleanup = true

params {
    // Input/Output
    input = null    // Path to the input VCF file
    output = null   // Directory to store output files
	db_bcf = null  // Path to the database BCF file

    // Resource files
    chr_add = '/mnt/data/samples/chr_add.txt'
    reference = '/mnt/data/resources/reference/ucsc/hg19_canonical.fa.gz'
    vep_cache = '/mnt/data/apps/ensembl-vep/113/cachedir/'
	vep_max_chr_parallel = 4
	vep_max_forks = 4

    // Tool paths and containers
    vep_container = '/mnt/data/apps/ensembl-vep/113/vep.sif'
    echtvar_path = '/mnt/data/apps/echtvar/echtvar'

    // Annotation resources
    echtvar_resources = [
        '/mnt/data/resources/gnomad/vep_gnomad_v4_hg19_genomes/echtvar_vep_gnomad4.1_genome_hg19lo.zip',
        '/mnt/data/resources/gnomad/vep_gnomad_v4_hg19_exomes/echtvar_vep_gnomad4.1_exome_hg19lo.zip',
        '/mnt/data/resources/clinvar/vcf_GRCh37/clinvar_20241111_hg19.zip'
    ]

    // Workflow control
    db_mode = false
}

process {
    executor = 'local'
    cpus = 30
    memory = '60 GB'

    scratch = '/mnt/data/samples/ephemeral/scratch'

    withName: 'RenameAndNormalizeVCF' {
        scratch = '/mnt/data/samples/ephemeral/scratch'
        disk = '20 GB'
    }

    withName: 'VEPAnnotate' {
        scratch = '/mnt/data/samples/ephemeral/scratch'
        disk = '20 GB'
    }

    withName: 'EchtvarAnnotateChr' {
        scratch = '/mnt/data/samples/ephemeral/scratch'
        disk = '50 GB'
    }
}

// Singularity configuration
singularity {
    enabled = true
    autoMounts = true
}

env {
    TMPDIR = '/mnt/nfs-share/scratch'
}

cleanup = true

profiles {
    test {
        process {
            cpus = 4
            memory = '8 GB'
            scratch = null

            withName: 'RenameAndNormalizeVCF' {
                memory = '4 GB'
            }

            withName: 'VEPAnnotate' {
                memory = '6 GB'
            }

            withName: 'EchtvarAnnotateChr' {
                memory = '8 GB'
            }
        }

        params {
		    // Tool paths
			apptainer_path = '/usr/bin/apptainer'
			bind_path = '/mnt/data:/mnt/data'
			echtvar_gnomad_genome = '/mnt/data/resources/gnomad/vep_gnomad_v4_hg19_genomes/echtvar_vep_gnomad4.1_genome_hg19lo.zip'
			echtvar_gnomad_exome = '/mnt/data/resources/gnomad/vep_gnomad_v4_hg19_exomes/echtvar_vep_gnomad4.1_exome_hg19lo.zip'
			echtvar_clinvar = '/mnt/data/resources/clinvar/vcf_GRCh37/clinvar_20241111_hg19.zip'


            // Test paths
            chr_add = "$projectDir/tests/data/chr_add.txt"
            reference = "$projectDir/tests/data/reference.fa"
            vep_cache = "$projectDir/tests/data/vep_cache"
            vep_container = null
            echtvar_path = "$projectDir/tests/data/echtvar"
            echtvar_resources = []
            vep_max_chr_parallel = 2
            vep_max_forks = 2

            // Testing mode
            test_mode = true
            test_bcftools_version = "bcftools 1.18"
            test_vep_version = "ensembl-vep : 113.0"
            test_echtvar_version = "echtvar 0.4.0"
        }

        singularity {
            enabled = false
        }
    }
}