# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env*
.venv*
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Nextflow specific
.nextflow/
.nextflow.log*
work/
.command.*
trace.*
timeline.*
report.*
dag.*
*.dot

# Project specific
/tests/data/test_out/
/tests/data/test_db/
/tests/data/workflow/
*.bcf
*.bcf.csi
*.vepstash
tool_version.log
flowchart.html
