params {
    annotation_cmd = """
      ${params.bcftools_cmd} view ${INPUT_BCF} | \
      ${params.annotation_tool_cmd} \
        --offline \
        --buffer_size ${params.vep_buffer} \
        --fork ${params.vep_forks} \
        --cache \
        --dir_cache ${params.vep_cache} \
        --fasta ${params.reference} \
        -i stdin \
        -o stdout \
        --format vcf \
        --assembly GRCh38 \
        --canonical \
        --symbol \
        --protein \
        --biotype \
        --tsl \
        --hgvs \
        --variant_class \
        --sift b \
        --polyphen b | \
      ${params.bcftools_cmd} view -o ${OUTPUT_BCF} -Ob --write-index
    """
    must_contain_info_tag = 'CSQ'
    required_tool_version = '115.2'
}

optional_checks {
    vep_cache_version = '115'
    reference_md5sum = '2f9cd9e853a9284c53884e6a551b1538'
    genome_build = 'GRCh38'
}