version: '3.8'

services:
  vcfstash:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ${vep_cache_DIR}:/opt/vcf/.vcf:ro
      - ${REFERENCE_DIR}:/reference:ro
      - ${DATA_DIR}:/data
      - ${CACHE_DIR}:/cache
    environment:
      - vep_cache_DIR=/opt/vcf/.vcf
      - REFERENCE_PATH=/reference
    command: ["tail", "-f", "/dev/null"]  # keeps container running

volumes:
  cache:
    driver: local