version: '3'

services:
  vcfcache:
    build:
      context: .
      dockerfile: Dockerfile
    image: vcfcache:latest
    volumes:
      - ${DATA_DIR:-./}:/data
      - ${CACHE_DIR:-./cache}:/cache
      - ${REFERENCE_DIR:-./references}:/references:ro
    working_dir: /data
    environment:
      - VCFCACHE_ROOT=/app
    command: --help

  # Service for running tests
  test:
    image: vcfcache:latest
    volumes:
      - .:/app
    working_dir: /app
    command: test