
// Parameters
params {
    // MD5SUMS
    reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'
    echtvar_gnomad_genome_md5sum= '52158f41b93f691a477db62e50f7cc7b'
    echtvar_gnomad_exome_md5sum = '75bd13405ab59bb07e8db9836ddc9534'
    echtvar_clinvar_md5sum = '97f89ae8cd2ee1e9fb95e2fd7703a7ee'

    // VERSIONS
    echtvar_cmd_version = '0.2.1'
    vep_cmd_version = '113.0'

	// VEP Configuration
	vep_options = [
        '-a GRCh37',
		'--transcript_version',
		'--total_length',
		'--flag_pick',
		'--exclude_predicted',
		'--hgvs',
		'--hgvsg',
		'--spdi',
		'--variant_class',
		'--uniprot',
		'--gene_version',
		'--protein',
		'--symbol',
		'--canonical',
		'--appris',
		'--mane',
		'--biotype',
		'--domains',
		'--refseq',
	]

}
