
// Parameters
params {
    // MD5SUMS
    reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'

    // VERSIONS
    vep_cmd_version = '113.0'

	// VCF Configuration
	vep_options = [
        '-a GRCh37',
		'--transcript_version',
		'--total_length',
		'--flag_pick',
		'--exclude_predicted',
		'--hgvs',
		'--hgvsg',
		'--spdi',
		'--variant_class',
		'--uniprot',
		'--gene_version',
		'--protein',
		'--symbol',
		'--canonical',
		'--appris',
		'--mane',
		'--biotype',
		'--domains',
		'--refseq',
	]

}
