// Global settings
cleanup = true

// Parameters
params {
	// Resource files
	chr_add = '/mnt/data/samples/chr_add.txt'
	refdir = '/mnt/data/resources/reference/ucsc/'
    reference = "${refdir}/hg19_canonical.fa.gz"
	reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'

	// bcftools
	bcftools_cmd = 'bcftools'
	bcftools_cmd_version = '1.20'
	bcftools_sort_memory = '20G'

	// Workflow control do not change
	db_mode = null
	db_bcf = null
}

// Process configuration
process {
	executor = 'local'
    cpus = 4
    memory = '8 GB'
    scratch = true

	withName: 'RenameAndNormalizeVCF' {
		memory = '20 GB'
	}

	withName: 'VEPAnnotate' {
		memory = '20 GB'
	}

}
