// Global settings
cleanup = false

// Parameters
params {
	// Resource files
    chr_add = '/home/j380r/projects/vepstash/tests/data/references/chr_add.txt'
    refdir = '/home/j380r/projects/vepstash/tests/data/references'
    reference = "${refdir}/reference.fasta"
	reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'
    db_bcf = null

	// ECHTVAR paths
    echtvar_cmd = '/opt/echtvar/echtvar'
    echtvar_cmd_version = '0.2.1'
    echtvar_gnomad_genome = '/home/j380r/projects/vepstash/tests/data/references/echtvar_vep_gnomad4.1_genome_hg19lo_chr1_t10k.zip'
    echtvar_gnomad_genome_md5sum= '52158f41b93f691a477db62e50f7cc7b'
    echtvar_gnomad_exome = '/home/j380r/projects/vepstash/tests/data/references/echtvar_gnomad4.1_joint_grch37_t10k.zip'
    echtvar_gnomad_exome_md5sum = '75bd13405ab59bb07e8db9836ddc9534'
    echtvar_clinvar = '/home/j380r/projects/vepstash/tests/data/references/clinvar_20241111_hg19_t10k.zip'
	echtvar_clinvar_md5sum = '97f89ae8cd2ee1e9fb95e2fd7703a7ee'

	// VEP Configuration
    vep_cache = '/home/j380r/references/ensembl-vep/113/cachedir'
    vep_cmd_version = '113.0'
    vep_cmd = "docker run --user \$(id -u):\$(id -g) -i -v ${vep_cache}:${vep_cache} -v ${refdir}:${refdir} --rm ensemblorg/ensembl-vep:release_113.0 vep"

	// VEP Performance Settings
	vep_max_chr_parallel = 2
	vep_max_forks = 2
	vep_buffer = 500000

	// Sorting memory
	bcftools_sort_memory = '4G'

	// Workflow control
	db_mode = null  // Options: 'default', 'stash-add', 'stash-add3', 'annotate', 'annotate_trylowmem', etc.
}

// Process configuration
process {
    cpus = 4
    memory = '8 GB'
    scratch = true

    withName: 'RenameAndNormalizeVCF' {
        memory = '4 GB'
    }

    withName: 'VEPAnnotate' {
        memory = '6 GB'
    }

    withName: 'EchtvarAnnotateChr' {
        memory = '8 GB'
    }
}
