/*
  ==============================================================
  test_annotation.config
  ==============================================================

  This file defines a test annotation workflow using bcftools annotate
  for testing purposes. It adds a mock annotation to the INFO tag.
*/

params {
    /*
      ------------------------------------------------------------
      annotation_cmd:

      A shell snippet or process definition containing the 
      essential annotation steps on a single VCF input. 

      This test version uses bcftools annotate to add a mock
      annotation to the INFO tag.
      ------------------------------------------------------------
    */

	annotation_cmd = """
        echo '##INFO=<ID=MOCK_ANNO,Number=1,Type=String,Description=Mock_annotation_for_testing_purposes>' > newheader.txt
        ${params.bcftools_cmd} query -f '%CHROM\\t%POS\\ttest\\n' ${INPUT_BCF} > mockanno.txt
        bgzip -c mockanno.txt > mockanno.txt.gz
        tabix -s 1 -b 2 -e 2 mockanno.txt.gz
        ${params.bcftools_cmd} annotate \\
            -a mockanno.txt.gz \\
            -h newheader.txt \\
            -c CHROM,POS,INFO/MOCK_ANNO \\
            ${INPUT_BCF} \\
            -Ob -o ${OUTPUT_BCF} -W
"""

    /*
      ------------------------------------------------------------
      must_contain_info_tag:

      INFO tag that should appear in the final
      annotated VCF/BCF. The pipeline can verify these tags 
      at the end to ensure annotation was successful.
      ------------------------------------------------------------
    */
    must_contain_info_tag = 'MOCK_ANNO'

    /*
      ------------------------------------------------------------
      annotation_tool_version:

      Optional version marker or string for your annotation tool.
      You can use it in main.nf or in your vcfstash Python
      driver to verify that the tool's actual version matches
      the one you locked here.

      If you prefer to skip version checks, just leave required_tool_version
      blank or remove it.
      ------------------------------------------------------------
    */
    required_tool_version = '1.20'
    reference_md5sum = '28a3d9f0162be1d5db2011aa30458129'
}
